@import url('https://fonts.googleapis.com/css?family=Lato|Open+Sans');

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.main {
  background-image: url("/images/california.jpg");
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  clear: both;
}

h1, h2, h4 {
  margin: 0;
  font-family: 'Lato', sans-serif;
}

h1 {
  padding-top: 60px;
  font-size: 130px;
}

h2 {
  top: 30%;
  font-size: 95px;
}

h4 {
  top: 40%;
  font-size: 48px;
}

/* The navigation bar */

.navbar {
  position: fixed;
  bottom: 0; 
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 20px;
}

.navbar a {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  margin: 0 auto;
}

.button {
  width: 60px;
  height: 60px;
  border-radius: 10px;
  margin: 5px;
  display: inline-block;
}

.button-img {
  max-width: 45px;
  max-height: 100%;
  vertical-align: middle;
  padding: 5px;
}

/*ABOUT*/

#about {
  padding-top: 50px;
  padding-bottom: 100px;
  width: 100%;
}

.left-text {
  float: left;
  position: relative;
  display: inline-block;
  width: 40%;
  font-family: 'Open Sans', sans-serif;
  padding: 0 70px;
}

h3 {
  font-size: 40px;
}

.left-img {
  display: inline-block;
  width: 40%;
  padding-left: 50px;
}

#work {
  padding-top: 10px;
  padding-bottom: 100px;
  width: 100%;
}

#right-img {
  display: inline-block;
  width: 40%;
  padding-left: 70px;
}

#right-text {
  float: right;
  position: relative;
  display: inline-block;
  width: 40%;
  font-family: 'Open Sans', sans-serif;
  padding: 0 70px;
}

.work {
  padding-bottom: 10%;
}