@import url('https://fonts.googleapis.com/css?family=Lato|Open+Sans');

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.main {
  background-image: url("/images/california.jpg");
  height: 550px;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  clear: both;
}

h1, h2, h4 {
  margin: 0;
  font-family: 'Lato', sans-serif;
}

h1 {
  padding-top: 60px;
  font-size: 130px;
}

h2 {
  top: 30%;
  font-size: 95px;
}

h4 {
  top: 40%;
  font-size: 48px;
}

/* The navigation bar */

.navbar {
  overflow: hidden;
  /*background-color: #DCDCDC;*/
  position: fixed;
  bottom: 0; 
  width: 100%;
  margin: 0 auto;
  padding-left: 300px;
}

.navbar a {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  margin: 0 auto;
}

.button {
  width: 75px;
  height: 75px;
  border-radius: 10px;
  margin: 5px;
  box-shadow: 5px 5px 2px #888888;
  background-color: white;
}

.button-img {
  max-width: 64px;
  max-height: 100%;
  vertical-align: middle;
  padding: 5px;
}

#eggplantify {
  background-color:#fcd7f6;
}

#pinterest {
  background-color:white;
}

#x-wing {
  background-image:url("/images/x-wing-background.jpg");
}