@import url('https://fonts.googleapis.com/css?family=Lato|Open+Sans');

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

#about, #skills, #work, #blog {
  width: 55vw;
  max-width: 600px;
  padding-top: 2%;
  font-family: 'Open Sans', sans-serif;
  margin: 0 auto;
}

/*HOME SECTION*/
.main {
  background-image: url("/images/california.jpg");
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
}

h1, h2, h4 {
  margin: 0;
  font-family: 'Lato', sans-serif;
}

h1 {
  font-size: calc(90px + 2vw);
  padding-top: 9vh;
}

h2 {
  font-size: calc(66px + 1.6vw);
}

h4 {
  font-size: calc(35px + .6vw);
}

h6 {
  font-size: calc(38px + .5vw);
}

/*ABOUT SECTION*/
h3 {
  font-size: 2em;
  font-family: 'Lato', sans-serif;
  margin: 2% 0;
}

/*BLOG SECTION*/
#blog.tumblrInjection {
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
}

#blog.tumblrInjection h2 {
  font-size: 1.5em;
}

#blog.tumblrInjection h3 {
  margin: 0;
}

#blog.tumblrInjection img {
  width: 100%;
}
/*NAVBAR*/
.navbar {
  position: fixed;
  bottom: 0; 
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 20px 0;
  background-color: white;
}

.navbar a {
  display: inline-block;
  color: black;
  text-align: center;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  margin: 0 auto;
  padding: 0 1vw;
}

.button {
  width: 60px;
  height: 60px;
  border-radius: 10px;
  margin: 5px;
  display: inline-block;
}

.button-img {
  max-width: 45px;
  max-height: 100%;
  vertical-align: middle;
  padding: 5px;
}

pre {
  background: #DCDCDC;
  font-size: 1.3em;
  overflow: scroll;
}